[submodule "pico/pico-sdk"]
	path = pico/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "GP2040-CE"]
	path = GP2040-CE
	url = https://github.com/OpenStickCommunity/GP2040-CE.git
